/* skapa css regler för ovn presentation */

body {
    /* font-family: ;
    font-weight: ;
    font-size: ; */
}

h1 {

}

#id-selector {
    /* for main */
    /* margin: 0 auto;
    width: ;
    */
}

.class-selector {
    /* for img tag */
    /* float: ;
    margin:;
    */
}